{{page-title "HotReload"}}

{{! The following component displays Ember's default welcome message. }}
<br />
{{#let (helper 'print-number') as |output|}}
  helpler {{output}}
{{/let}}
{{! Feel free to remove this! }}

<div {{my-modifier}} />

{{#let this.FirstComponent as |output|}}
  {{output}}
{{/let}}

<div {{this.myModifier}}></div>

{{(this.printNumbers)}}
<br />
26
<br />
{{this.x}}

{{outlet}}


